<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Sphinx.Client.IntegrationTests.TestSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Sphinx.Client.IntegrationTests.TestSettings>
      <setting name="Host" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>9312</value>
      </setting>
    </Sphinx.Client.IntegrationTests.TestSettings>
  </applicationSettings>
</configuration>